.calculator {
  width: 230px;
  height: 370px;
  display: flex;
  margin: 150px auto;
}

.main-body {
  height: 100%;
  border: 2px #3b4664 solid;
  background-color: #3b4664;
  border-radius: 10px;
}
